.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.toggle-switch .slider {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    transition: transform 0.3s ease-in-out;
}

.toggle-switch.on .slider {
    transform: translateX(25px);
}

.toggle-switch.off .slider {
    transform: translateX(0);
}
.toggle-switch-container {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.flex-grow {
    flex-grow: 1;
}