/*.sticky-subheader {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    background-color: #f5f5f5;*/
/*    z-index: 1;*/
/*    padding: 8px 16px;*/
/*    font-weight: bold;*/
/*}*/

/*.root {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: flex-start;*/
/*    height: fit-content;*/
/*    padding: 0 30px;*/
/*}*/

/*.box {*/
/*    width: 40%;*/
/*    height: 90vh;*/
/*    max-width: calc(60% - 80px);*/
/*    border: 2px solid #ccc;*/
/*    border-radius: 8px;*/
/*    overflow: hidden;*/
/*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
/*    transition: transform 0.3s ease;*/
/*}*/

/*.list {*/
/*    position: relative;*/
/*    overflow-y: auto;*/
/*    height: calc(90vh - 40px);*/
/*    width: 100%;*/
/*    font-size: 14px; !* Adjust font size *!*/
/*    margin: 0; !* Remove margin *!*/
/*    padding: 0; !* Remove padding *!*/
/*}*/

/*.list > div {*/
/*    margin: 0; !* Remove margin for list items *!*/
/*}*/

/*.detail-card {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: -100%;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: white;*/
/*    border-left: 1px solid #ccc;*/
/*    padding: 20px;*/
/*    transition: right 0.3s ease;*/
/*    z-index: 2;*/
/*}*/

/*.detail-card.active {*/
/*    right: 0;*/
/*}*/

/*.subheader-buttons {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    padding: 8px 16px;*/
/*}*/

/*.subheader-buttons > div {*/
/*    flex-grow: 1;*/
/*}*/

/*.button-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-top: 20px;*/
/*}*/

